<p id="notice">
  <%= notice %>
</p>

<h3 class="text-center">
  Specialization activities
</h3>

<ul class="nav nav-tabs nav-justified" role="tablist">
  <% @specializations.each_with_index do |specialization, index| %>
    <li class= <%= "active" if index == 0%> >
      <a href="#<%=specialization.name%>" data-toggle="tab" role="tab">
        <%= specialization.name %>
      </a>
    </li>
  <% end %>
</ul>

<br />

<div class="tab-content">
  <% @specializations.each_with_index do |specialization, index| %>

    <div id="<%=specialization.name%>" class="tab-pane <%= "active" if index == 0%>">

      <div class="pull-right">
        <form accept-charset="UTF-8" action="/visitors/api/<%=specialization.id%>" id="visitors_vmilosti_search" method="get">
          <div style="display:none">
            <input name="utf8" value="✓" type="hidden">
          </div>
          <p>
            <input id="search" name="search" type="text">
            <input value="Search" type="submit">
          </p>
        </form>
      </div>

      <br />
      <br />

      <%= render partial: 'vmilosti', locals: { specialization: specialization, index: index } %>

    </div>
  <% end %>
</div>